header{
    background-color: #969ba2;
    min-height: 70px;
}

nav{
    a{
        font-weight: 600;
        padding-right: 70px;
        text-decoration: none;
        color: black;
        &:hover{
            color: white;
        }
    }
}

/*@mixin Header(){
    display:flex;
    
    background-color: #969ba2;
    justify-content: space-between;
    align-items: center;
    
}

@mixin Header2($argumento1, $argumento2){
    min-height: $argumento1;
    padding: $argumento2;
}

header{
    @include Header();
    @include Header2(70px, 10px)
}

nav{
    a{
        font-weight: 600;
    padding-right: 70px;
    text-decoration: none;
    color: black;
        &:hover{
            color: white;
        }
    }
}*/

/*Solo para uso del extend porque no encontre donde usarlo con mas efectividad porque no tengo variables que pueda repetir*/
.pruebaExtend{
    display: flex;
    text-decoration: none;
    list-style: none;
}

ul{
    @extend .pruebaExtend;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 60px;
    margin-right: 10px;
}