* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family: 'Inconsolata', monospace;*/
body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  background-color: whitesmoke;
  background-size: 100%;
}

header {
  background-color: #969ba2;
  min-height: 70px;
}

nav a {
  font-weight: 600;
  padding-right: 70px;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: white;
}

/*@mixin Header(){
    display:flex;

    background-color: #969ba2;
    justify-content: space-between;
    align-items: center;

}

@mixin Header2($argumento1, $argumento2){
    min-height: $argumento1;
    padding: $argumento2;
}

header{
    @include Header();
    @include Header2(70px, 10px)
}

nav{
    a{
        font-weight: 600;
    padding-right: 70px;
    text-decoration: none;
    color: black;
        &:hover{
            color: white;
        }
    }
}*/
/*Solo para uso del extend porque no encontre donde usarlo con mas efectividad porque no tengo variables que pueda repetir*/
.pruebaExtend, ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 60px;
  margin-right: 10px;
}

/*INDEX*/
.fraseIndex {
  display: flex;
  text-align: center;
  margin: 15px 0px 10px 0px;
  justify-content: center;
}

.FraseIndexGgm {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  margin-left: auto;
  margin-right: 30%;
}

.contenedorFraseIndex {
  display: flex;
  flex-direction: column;
  background-color: #77b1a9;
  margin-top: -5px;
}

.imgIndex {
  height: auto;
  max-height: 500px;
}

/*Suscripcion*/
.suscripcion {
  background: grey;
  padding: 0px;
  margin: unset;
}

.contenedorSuscripcion {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.suscripcion2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-right: -4px;
}

.suscripcionNombre {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
  position: relative;
}

.suscripcionNombre h4 {
  margin: unset;
  text-align: right;
  font-size: 24px;
}

.suscripcionBoton {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
  position: relative;
}

.botonSuscripcion {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 30px;
  background-image: none;
}

.frasemedia {
  justify-content: center;
  display: flex;
}

/*PAQUETES DESTACADOS*/
.carousel-inner {
  height: 500px;
}

.carouselDescubrir div img {
  height: auto;
  max-height: 500px;
}

.paq_destacados {
  margin-top: 100px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.paq_destacados h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin: 45px 0 30px;
  color: #4a4a4a;
  font-weight: normal;
  border-bottom: 0;
}

.colm4 {
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 15px;
}

.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.tarjeta-destacada {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #fff;
  margin: 20px 0 40px;
  min-height: 450px;
}

.img-destacada {
  background-size: cover;
  height: 200px;
}

.info {
  display: flex;
  height: 214px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 20px 30px;
}

.tarjeta-destacada img {
  width: 200px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

span.nombre-paquete {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-destacado {
  background: #214898;
  width: 40%;
  margin: auto;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  border-radius: 50px;
  position: absolute;
  bottom: 45px;
  left: 30%;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.videoDescubrir {
  display: flex;
  margin: auto;
  margin-top: 120px;
}

/*Servicios*/
.serviciosFondo {
  background-image: url(../images/Fondo-Viajes.png);
  width: 100%;
  height: 1080px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviciosVarios {
  text-align: center;
  width: 40%;
  margin-top: 300px;
}

.serviciosVarios p {
  font-size: 1.2rem;
  font-weight: bold;
}

.tour-box {
  height: 400px;
  background-size: cover;
}

.tour-box a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 20px 20px 20px 95px;
  margin-top: 62px;
  border-radius: 10px;
  transition: 0.2s;
}

.tour-box.bg01 a {
  background: rgba(0, 0, 0, 0.5) left 20px center no-repeat;
}

.tour-box.bg02 a {
  background: rgba(0, 0, 0, 0.5) left 20px center no-repeat;
}

.containerServicios {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.strong {
  font-weight: bold;
}

.bg01 {
  text-align: left;
}

.bg02 {
  text-align: right;
}

.quienesSomos {
  background-color: rgba(17, 94, 83, 0.582);
  height: auto;
}

.quienesSomosContenedor {
  display: flex;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  max-width: 1200;
}

.quienesSomosTexto {
  font-size: 24px;
  text-align: center;
  width: auto;
  height: auto;
  padding: 1px;
}
.quienesSomosTexto p {
  margin-bottom: 25px;
}

.col-12 {
  width: 100%;
}

.carousel {
  position: relative;
}

.quienesSomos img {
  max-width: 780px;
  height: 480px;
  border-radius: 80px;
}

/*Contacto*/
.contactoEncabezado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin-top: 20px;
}

.contactoSeccion {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/*Formulario de Contacto*/
.containerFormularioGeneral {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 136px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 23px;
  flex-direction: row-reverse;
}

.formularioColumnas {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 12px 12px;
  margin: 35px;
  grid-template-areas: "formularioColumna1 formularioColumna2" "formularioColumna1 formularioColumna2";
  flex: 1 0 0%;
  margin-left: 170px;
}

.formularioColumna1 {
  grid-area: formularioColumna1;
}

.formularioColumna2 {
  grid-area: formularioColumna2;
  margin-right: 200px;
  padding-right: 10px;
}

label {
  padding: 12px 12px 12px 0px;
  display: inline-block;
  color: #448f83;
}

input[type=text], select, textarea {
  width: 20rem;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 4px;
  resize: vertical;
}

input, button, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type=submit] {
  cursor: pointer;
  float: none;
  margin: 0;
  align-items: flex-start;
  padding: 10px 10px;
}

select {
  word-wrap: normal;
}

button, select {
  text-transform: none;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0p 2p 1p;
}

.mapa {
  display: flex;
  margin-left: 50px;
}

/*footer*/
.footer {
  display: grid;
  text-align: center;
  background-color: #969ba2;
  color: white;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "footerDerechos" "footerPagos" "footerRedes";
  margin-top: auto;
  min-height: auto;
}

.footerDerechos {
  grid-area: footerDerechos;
  margin: -10px;
  margin-top: 0px;
}

.footerRedesSociales {
  grid-area: footerRedes;
  display: flex;
  justify-content: center;
}

.footerRedesSociales a img {
  margin: 10px;
  width: 20px;
  height: 20px;
}

.footerPagos {
  grid-area: footerPagos;
  width: 100%;
}

.footerPagos img {
  margin: 10px;
  width: 20px;
  height: 20px;
}

/*media queries*/
@media (max-width: 992px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
    flex-direction: row;
  }
}
@media (max-width: 645px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
    flex-direction: row;
  }
  ul {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  li {
    display: flex;
  }
  .fraseIndexGgm {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    margin: 0p 200p 30p 0p;
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .carousel-inner {
    height: 350px;
  }
}
@media (max-width: 992px) {
  .carousel-inner {
    height: 450px;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333333%;
    float: left;
  }
}
@media (max-width: 992px) {
  .serviciosVarios {
    margin-top: 150px;
  }
  .serviciosFondo {
    width: 100%;
    height: 800px;
  }
}
@media (max-width: 768px) {
  .serviciosVarios {
    margin-top: 100px;
    margin-left: 90px;
  }
  .serviciosFondo {
    width: 100%;
    height: 600px;
  }
}
@media (max-width: 1024px) {
  .quienesSomosContenedor {
    flex-direction: column;
  }
  .quienesSomos img {
    height: 420px;
  }
}/*# sourceMappingURL=styles.css.map */